<header>
  <nav class="navbar">
    <div class="navbar-left">
      <span class="navbar-text">CS 584</span>
    </div>
    <ul class="nav-links">
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['./abilities']" class="nav-link">Champions and Abilities</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a [routerLink]="['/login']" class="nav-link">Login</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a (click)="onLogout()" class="nav-link">Logout</a>
      </li>
    </ul>
  </nav>
</header>

