<div class="champion-list">
  <div *ngFor="let champion of champions" class="champion-item" (mouseover)="onChampionHover(champion.id)" (mouseleave)="onChampionLeave()">
    {{ champion.name }}
  </div>
</div>

<div class="abilities-container" *ngIf="hoveredChampionAbilities.length > 0">
  <h3 class="abilities-heading">Abilities:</h3>
  <ul class="abilities-list">
    <li *ngFor="let ability of hoveredChampionAbilities" class="ability-item">
      {{ ability.description }}
    </li>
  </ul>
</div>

<div class="tip">Hover over a character to show its abilities!</div>
